<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      th:lang="${#locale.language}">
<head>
    <meta charset="utf-8"/>
    <title>Layout page</title>
    <meta name="viewport" content="width=device-width"/>
    <meta name="htmx-config" content='{"globalViewTransitions":"true"}'>
    <script th:if="${@isDebug}" src="http://localhost:35729/livereload.js"></script>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css"
          th:href="@{/libs/bootstrap/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <script defer src="/libs/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer src="/libs/bigskysoftware/htmx.min.js" th:src="@{/libs/bigskysoftware/htmx.min.js}"></script>
    <script defer src="/libs/bigskysoftware/_hyperscript.min.js"
            th:src="@{/libs/bigskysoftware/_hyperscript.min.js}"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .chx-indicator {
            display: none !important;
        }

        .htmx-request .chx-indicator, .htmx-request.chx-indicator {
            display: inline-block !important;
        }
    </style>
</head>
<body layout:fragment="body">
</body>
</html>