<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<main layout:fragment="content" class="container pt-3">
    <div class="d-flex justify-content-between">
        <div>
            <h1 th:text="${post.title}">Post title</h1>
            <div class="text-secondary">
                <span class="text-secondary" th:replace="~{fragments/format :: formatDate(${post.createdAt})}"></span>
                <span>|</span>
                <span th:text="#{misc.by(${post.createdBy.name})}">Post author</span>
            </div>
            <div class="text-secondary">
                <span th:text="#{fields.categories}">Categories</span>:
                <span th:text="${post.categoriesString}" class="ml-2">Post categories</span>
            </div>
        </div>
        <div th:if="${#authentication.principal?.id == post.createdBy.id}">
            <a class="btn btn-primary" th:href="@{/posts/{id}/edit(id=${post.id})}" th:text="#{misc.edit}">Edit</a>
            <form th:action="@{/posts/{id}/delete(id=${post.id})}" th:attr="hx-confirm=#{misc.confirmDelete}"
                  method="post" class="d-inline">
                <button type="submit" class="btn btn-danger" th:text="#{misc.delete}">Delete</button>
            </form>
        </div>
    </div>
    <hr class="text-secondary"/>
    <div th:utext="${post.content}">Post content</div>
</main>
</html>