<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="pagination(page)">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${page.first ? 'disabled' : ''}">
            <a class="page-link"
               th:href="${@templateService.currentUrlWithParameter('page', page.number)}"
               aria-label="Previous"
            >
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <input type="number" class="page-link" th:value="${page.number + 1}" min="1"
                   th:attr="max=${page.totalPages}" style="max-width: 6rem;"/>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#" th:text="#{misc.ofTotal(${page.totalPages})}"></a>
        </li>
        <li class="page-item" th:classappend="${page.last ? 'disabled' : ''}">
            <a class="page-link"
               th:href="${@templateService.currentUrlWithParameter('page', page.number + 2)}"
               aria-label="Next"
            >
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>